[submodule "docs/gh-pages"]
	path = docs/gh-pages
	url = https://github.com/gyzkard/index-base
	branch = gh-pages
[submodule "external/gy-mpl"]
	path = external/gy-mpl
	url = https://github.com/gyzkard/gy-mpl
